{% include 'includes/admin-header.html' %}
{% include 'includes/admin-nav.html' %}

<div class="content" style="padding: 0px;">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">DashBoard</a></li>
            <li class="breadcrumb-item">Sessions</li>
            <!-- <li class="breadcrumb-item active" aria-current="page">Data</li> -->
        </ol>
    </nav>
    {% if messages %}
    <div class="alert alert-success" role="alert">
        {% for message in messages %}
        {{message}}
        {% endfor %}
    </div>
    {% endif %}
    <div style="padding: 20px;">
        <h2>All Sessions</h2>
        <table class="table table-hover" id="myTable">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Date</th>
                    <th>E-mail</th>
                    <th>Created</th>
                </tr>
            </thead>

            <tbody>
                {% for session in sessions %}
            <tr>
                <td>{{session.id}}</td>
                <td>{{session.name}}</td>
                <td>{{session.startTime}}</td>
                <td>{{session.endTime}}</td>
                <td>{{session.created_at | timesince}}</td>
            </tr>
            {% endfor%}
            </tbody>
            
        </table>
    </div>

    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
        });
    </script>
</div>

{% include 'includes/admin-footer.html' %}