{% extends 'includes/main.html' %}
{% load static%}

{% block content %}

<div class="position-relative overflow-hidden p-3 p-md-5 text-center bg-body-tertiary the-cover">
    <div class="col-md-6 p-lg-5 mx-auto my-5">
        <h1 class="display-3 fw-bold text-dark">Dominate the Game</h1>
        <h3 class="fw-normal text-muted mb-3">Own the pitch</h3>
        <div class="d-flex gap-3 justify-content-center lead fw-normal">
            <a class="icon-link btn btn-dark" href="#">
                Learn more
                <svg class="bi">
                    <use xlink:href="#chevron-right" />
                </svg>
            </a>
        </div>
    </div>
    <!-- <div class="product-device shadow-sm d-none d-md-block">
  <img src="assets/img/josephine-gasser-cv83wpGtFtg-unsplash.jpg"style="top: -25%;" width="300" height="500" alt="">

</div> -->
    <!-- <div class="product-device product-device-2 shadow-sm d-none d-md-block"> <img
    src="assets/img/reuben-FcRusNie0hs-unsplash.jpg" width="300" height="500" alt="">

</div> -->
</div>

<div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
    <div class="text-bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 py-3">
            <h2 class="display-5">Personal Trainning</h2>
            <p class="lead">Start your personal trainning with one of the professional trainers in the city</p>
        </div>
        <div class="shadow-sm mx-auto">
            <img src="{% static 'img/single.jpg'%}" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"
                alt="">
        </div>
    </div>
    <div class="bg-body-tertiary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 p-3">
            <h2 class="display-5">Team Trainning</h2>
            <p class="lead">Train with your co-workes, family, mate ... using our facilities</p>
        </div>
        <div class="shadow-sm mx-auto">
            <img src="{% static 'img/group.jpg'%}" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"
                alt="">
        </div>
    </div>
</div>
<hr>
<div class="container">

    <div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-5">
        <div class="col d-flex flex-column align-items-start gap-2">
            <h2 class="fw-bold text-body-emphasis">Others main Services Includes...</h2>
            <p class="text-body-secondary">The weTenn Co. is here to help you access all the facilities and gears all in
                the same space. And help you raise your standards in Teniss</p>
            <a href="#" class="btn btn-secondary btn-lg">Explore More</a>
        </div>

        <div class="col">
            <div class="row row-cols-1 row-cols-sm-2 g-4">
                <div class="col d-flex flex-column gap-2">
                    <div
                        class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
                        <svg class="bi" width="1em" height="1em">
                            <use xlink:href="#collection" />
                        </svg>
                    </div>
                    <h4 class="fw-semibold mb-0 text-body-emphasis">Personal Training</h4>
                    <p class="text-body-secondary">Paragraph of text beneath the heading to explain the heading.</p>
                </div>

                <div class="col d-flex flex-column gap-2">
                    <div
                        class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
                        <svg class="bi" width="1em" height="1em">
                            <use xlink:href="#gear-fill" />
                        </svg>
                    </div>
                    <h4 class="fw-semibold mb-0 text-body-emphasis">Couple Training</h4>
                    <p class="text-body-secondary">Paragraph of text beneath the heading to explain the heading.</p>
                </div>

                <div class="col d-flex flex-column gap-2">
                    <div
                        class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
                        <svg class="bi" width="1em" height="1em">
                            <use xlink:href="#speedometer" />
                        </svg>
                    </div>
                    <h4 class="fw-semibold mb-0 text-body-emphasis">Kids Session</h4>
                    <p class="text-body-secondary">Paragraph of text beneath the heading to explain the heading.</p>
                </div>

                <div class="col d-flex flex-column gap-2">
                    <div
                        class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
                        <svg class="bi" width="1em" height="1em">
                            <use xlink:href="#table" />
                        </svg>
                    </div>
                    <h4 class="fw-semibold mb-0 text-body-emphasis">Old Blood Training</h4>
                    <p class="text-body-secondary">Paragraph of text beneath the heading to explain the heading.</p>
                </div>
            </div>
        </div>
    </div>

    <hr>
    <h3 class="display-3 fw-bold text-secondary">Our Courts</h3>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for court in courts %}
        <div class="col">
            <a href="{% url 'court' court.id %}">
                <div class="card shadow-sm">

                    <img src="{{court.pre_image}}" alt="">
                    <div class="card-body">
                        <h5>{{ court.name }}</h5>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}


    </div>
    <hr>
    <h3 class="display-3 fw-bold text-secondary">Pricings</h3>

    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                    <h4 class="my-0 fw-normal">Free</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">$0<small class="text-body-secondary fw-light">/mo</small>
                    </h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>10 users included</li>
                        <li>2 GB of storage</li>
                        <li>Email support</li>
                        <li>Help center access</li>
                    </ul>
                    <button type="button" class="w-100 btn btn-lg btn-outline-primary">Sign up for free</button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                    <h4 class="my-0 fw-normal">Pro</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">$15<small class="text-body-secondary fw-light">/mo</small>
                    </h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>20 users included</li>
                        <li>10 GB of storage</li>
                        <li>Priority email support</li>
                        <li>Help center access</li>
                    </ul>
                    <button type="button" class="w-100 btn btn-lg btn-primary">Get started</button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm border-primary">
                <div class="card-header py-3 text-bg-primary border-primary">
                    <h4 class="my-0 fw-normal">Enterprise</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">$29<small class="text-body-secondary fw-light">/mo</small>
                    </h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>30 users included</li>
                        <li>15 GB of storage</li>
                        <li>Phone and email support</li>
                        <li>Help center access</li>
                    </ul>
                    <button type="button" class="w-100 btn btn-lg btn-primary">Contact us</button>
                </div>
            </div>


        </div>
    </div>

    <div class="container px-4 py-5" id="custom-cards">
        <h2 class="pb-2 border-bottom">Sessions</h2>

        <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
            <div class="col">
                <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
                    style="background-image: url('unsplash-photo-1.jpg');">
                    <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                        <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Short title, long jacket</h3>
                        <ul class="d-flex list-unstyled mt-auto">
                            <li class="me-auto">
                                <img src="https://github.com/twbs.png" alt="Bootstrap" width="32" height="32"
                                    class="rounded-circle border border-white">
                            </li>
                            <li class="d-flex align-items-center me-3">
                                <svg class="bi me-2" width="1em" height="1em">
                                    <use xlink:href="#geo-fill" />
                                </svg>
                                <small>Earth</small>
                            </li>
                            <li class="d-flex align-items-center">
                                <svg class="bi me-2" width="1em" height="1em">
                                    <use xlink:href="#calendar3" />
                                </svg>
                                <small>3d</small>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>




        </div>

    </div>
</div>

{% endblock%}